<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IPv6Museum</display-name>
  
  <servlet>
  <servlet-name>GetNewsTitleController</servlet-name>
  <servlet-class>com.IPv6Museum.controller.GetNewsTitleController</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>GetNews</servlet-name>
  <servlet-class>com.IPv6Museum.controller.GetNewsController</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>GetClass</servlet-name>
  <servlet-class>com.IPv6Museum.controller.GetClassController</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>GetMedia</servlet-name>
  <servlet-class>com.IPv6Museum.controller.GetMediaController</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>GetSuggestedExhibits</servlet-name>
  <servlet-class>com.IPv6Museum.controller.GetSuggestedExhibitsController</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
  <servlet-name>GetNewsTitleController</servlet-name>
  <url-pattern>/getNewsTitle</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>GetNews</servlet-name>
  <url-pattern>/getNews</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>GetClass</servlet-name>
  <url-pattern>/getClass</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>GetMedia</servlet-name>
  <url-pattern>/getMedia</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>GetSuggestedExhibits</servlet-name>
  <url-pattern>/getSuggestedExhibits</url-pattern>
  </servlet-mapping>
</web-app> 